*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkslategrey;
}

.container{
    display: grid;
}
.header{
    display: grid;
    grid-template-areas: "photo banner banner banner"
    "photo banner banner banner"
    ". login signin .";
    background-color: darkmagenta;
    margin: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: pink;
}

.profile-photo{
    grid-area: photo;
    align-items: center;
    justify-items: center;
    border-radius: 50px;
}

.title{
    grid-area: banner;
    color: salmon;
    border: solid 5px salmon;
    background-color: firebrick;
    padding: 5px;
    margin: 0 5px 0 5px;
}

.login-btn{
    grid-area: login;
    color: whitesmoke;
    background-color: orangered;
    padding: 5px;
    border: solid 5px whitesmoke;
    border-radius: 10px;
}

.signin-btn{
    grid-area: signin;
    color: whitesmoke;
    background-color: orangered;
    padding: 5px;
    border: solid 5px whitesmoke;
    border-radius: 10px;
}