body{
  font-family: serif;
  font-size: 14px;
  color: darkblue;
}
#cabecera{
    width: 90%;
    margin: 2px auto;
    height: 100px;
}

#cabecera h1{
  font-size: 32px;
  color: goldenrod;
  font-weight:bolder;
  text-align: center;
  line-height: 100px;
}

#navegador{
  background-color: aqua;
  width: 90%;
  margin: auto;
}

#navegador ul{
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

#navegador ul li{
    display: inline;
    list-style:none;
    font-family: "Arial";
    font-size: 24px;
    line-height: 50px;
    margin: 4px;
    padding: 2px;
    border: rebeccapurple 2px solid;
}
#section {
  padding-top: 5px;
  border-top: 1px dashed darkgray;
}

.galeria{
	border-top: 1px double gray;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
 figure {
	display: inline;
	float: left;
	padding: 2px 2px 2px 2px;
	background-color: white;
	border: darkgray 5px solid;
	box-shadow: black 5px 5px 10px;
	cursor: pointer;
}
figure img{
	padding: 2px 2px 2px 2px;
	margin-left: auto;
	margin-right: auto;
}

 figure:hover{
  border-color: darkorange;
}

.container{
  display: grid;
  grid-template-areas: "photo banner banner banner"
	"photo banner banner banner"
	". login signin .";
}

.photo{
  background-color: black;
  grid-area: photo;
  border-radius: 50px;
}

.welcome{
  background-color: black;
  font-size: x-large;
  grid-area: banner;
}

.login{
  grid-area: login;
  padding: 5px;
  border-radius: 10px;
  background-color: orangered;
  color: white;
}

.signin{
  grid-area: signin;
  padding: 5px;
  border-radius: 10px;
  background-color: orangered;
  color: white;
}
